<div class="alert alert-danger" ng-show="error">{{errorMessage}}</div>
<h2>{{successMessage}}</h2>
<form class="form-horizontal">

	<div class="control-group">
		<label class="control-label" for="blogCategory">Blog Category</label>

		<div class="controls">
			<select name="blogCategoryId" ng-model="blogEntry.blogCategory.name">
				<option ng:repeat="blogCategory in listOfBogsCategories"
					value="{{blogCategory.id}}">{{blogCategory.name}}</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="blogTitle">Blog Title</label>

		<div class="controls">
			<input type="text" id="blogTitle" placeholder="Blog Title"
				ng-model="blogEntry.title" required="required" min="2" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="blogContent">Blog Content</label>

		<div class="controls">
			<textarea class="span3" id="blogContent" placeholder="Blog Content"
				ng-model="blogEntry.content" required="required" min="10"></textarea>
		</div>
	</div>
	<hr />
	<div class="control-group">

		<div class="controls">
<!-- ng-disabled="!blogEntry.content || !blogEntry.title" ng-show="editMode" -->
			<button type="button" class="btn btn-primary"
			  		ng-click="createBlogEntry(blogEntry)">Save Blog</button>
			<button type="button" class="btn" ng-click="resetBlogEntryForm()">Reset</button>
		</div>
	</div>
</form>